@import '../abstract/variaveis';

#curiosidades {
  text-align: center;
  padding: 40px 0;

  h3 {
    font-family: $fonte-titulo;
    font-weight: bold;
    font-size: $tamanho-do-texto / 2.25;
    text-transform: uppercase;
  }

  h4 {
    font-size: $tamanho-do-texto / 2.5;
    background-color: $cor-primaria;
    padding: 5px 0;
    margin: 5px 35%;
  }

  p {
    font-size: $tamanho-do-texto / 2.75;
    margin: 0 25%;
  }
}