// Fontes
$fonte: 'Roboto', sans-serif;
$fonte-titulo:  'Satisfy', cursive;


// Cores
$cor-primaria: #b3beba;
$cor-secundaria: #09472f ;
$cor-terciaria: #4f5351;

// Tamanho dos textos
$tamanho-do-texto: 3rem